.product-title {
  position: relative;
  display: block;
}

.brand {
  font-size: 16px;
  font-weight: 700;
  color: #282c3f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wishlist-btn-container a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.wishlist-btn-container {
  border: 1px solid #cfcfd2;
  border-radius: 3px;
  background-color: white;
  top: 0;
  padding: 2px;
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;
}

.wishlist-btn-container:hover {
  border: 1px solid #89898b;
}

.remove-wishlist-btn {
  border: 1px solid #4b4b4c;
  border-radius: 3px;
  background-color: rgb(181, 179, 179);
  top: 0;
  padding: 2px;
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;
}

.remove-wishlist-btn a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.product-title:hover .wishlist-btn-container {
  display: block;
  top: -2px;
}

.product-title:hover .remove-wishlist-btn {
  display: block;
  top: -2px;
}
