.shopping-bag {
  vertical-align: top;
  display: inline-block;
  width: 350px;
}
.price-details {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}
.details div {
  font-size: 14px;
  border: none;
}
.total-amount {
  font-size: 16px;
  font-weight: 700;
}
.place-order-btn {
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  padding: 10px 16px;
}
.knowmore-btn {
  color: rgb(255, 63, 108);
  font-size: 14px;
  font-weight: 700;
}
