.special-categories {
  width: 100%;
  display: flex;
  justify-content: center;
}

.categories-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.catrgory-img-container {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Ensure images are centered */
}

@media (max-width: 768px) {
  .catrgory-img-container {
    margin-bottom: 15px; /* Add spacing between cards on small screens */
  }
}
