.item-container {
  max-width: 600px;
}
.title {
  font-weight: 700;
  font-size: 13px;
}
.item-details {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.seller {
  font-family: 12px;
  color: rgb(192, 188, 188);
}
.size-qty-btn {
  font-size: 14px;
  background: #f5f5f6;
  color: #282c3f;
  font-weight: 700;
  cursor: pointer;
  margin-right: 12px;
  border-radius: 2px;
  padding: 2px 8px;
}
.total-price {
  font-size: 14px;
  font-weight: 700;
}
.total-discount {
  font-size: 14px;
}
.return-details {
  font-size: 12px;
}
.delete-button {
  position: absolute;
  z-index: 3;
  background-color: transparent;
  border: none;
  padding: 2px;
  right: 10px;
  top: 10px;
}
.bagcard {
  position: relative;
  z-index: 0;
}
